 .jumbotron {
             margin-top: auto;
             margin-bottom: auto;
             background-image: url(/img/background.jpg);
             background-size: cover;
             color:#ffe6e6;
             position: sticky;
             top: 0;
            // text-shadow: 5px 5px rgba(23, 23, 23, 0.37);
            //height: 100vh;
            //width: 100vh;

}
#Tform{
		text-align: center;	
}
#results{
			text-align: :center;
}
#title-background{
					background-color: beige;
                              background-position: center ;
                              border: 2px solid black;
                              background-repeat: no-repeat;
                              color: green;
                              width: 100%;
                              height: auto;
                              right: 10%;
                              
                              //display: inline-block;
                              margin: 100 auto;
                              


                              
}
.container-fluid{
					background-color: #ffe6e6;
                              margin-top: 100px;
                              //height: 100vh;
                              //width: 100vh;

}
.parallax {
                  background-image: url("/img/waterdrop.mp4");
                  min-height: 400px;

                  //background-color: red;
                  background-attachment: fixed;
                  //background-position: center;
                  background-repeat: no-repeat;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
      }
.vp{
      position:relative; ;
      
      min-width: 100vw;
      min-height: 100vh;
      //max-width: 1000px;
      //max-height: 100%;
      //width: 5000px;
      visibility: visible;
      z-index: -1
}